<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Etsy Top 5 Query</title>
  <script src="/angular/angular.js" defer></script>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <script src="/js/module.js" defer></script>
  <script src="/js/EtsyFactory.js" defer></script>
</head>

<body ng-app="simon">
  <h1 style="text-align:center">Etsy Top 5 Listings by Seller</h1>
  <h3 style="text-align:center">Enter in the names of Etsy sellers separated by a space to view their 5 most popular items</h3>
  <div ng-controller="MainCtrl" id="main" class="container-fluid">
    <div>
      <div layout="row">
        <form name="searchForm" ng-submit="search()">
          <textarea rows="4" cols="40" ng-model="shops"></textarea>
        </form>
      </div>
      <input type="submit" ng-click="search()" value="Submit" />

      <!-- Repeated table for each store to list top 5 items -->
      <div style="padding:10px">
        <table border=1>
          <caption style="font-size: 20px; font-weight:bold">Term Frequency By Store</caption>
          <col width="20%">
          <col width="10%">
          <col width="10%">
          <col width="10%">
          <col width="10%">
          <col width="10%">
          <th>Store</th>
          <th>1st</th>
          <th>2nd</th>
          <th>3rd</th>
          <th>4th</th>
          <th>5th</th>
          <tr ng-repeat="store in stores" style="font-size:13px">
            <td>{{store.name}}</td>
            <td ng-repeat="word in store.topFive">"{{word[0]}}": {{word[1]}} times</td>
          </tr>
        </table>
      </div>
    </div>
</body>

</html>
